.loader {
    position: relative;
    width: 200px;
    height: 200px;
  }
  .loader:before,
  .loader:after {
    content:"";
    display: block;
    border: 80px solid transparent;
    border-top-color: #fff;
    position: absolute;
    left: -80px;
    top: 150px;
    animation: weld-rotate 2s infinite ease-in;
  }
  .loader:before {
    border-color: transparent  transparent transparent #FF3D00;
    animation-delay: 0.5s;
  }
  @keyframes weld-rotate {
    0% , 25% {transform: rotate(0deg)}
    50% , 75% {transform: rotate(180deg)}
    100% {transform: rotate(360deg)}
  }
